<div class="login-page">
  <!-- Colonne image -->
  <div class="login-image"></div>

  <!-- Colonne droite -->
  <div class="login-right">
    <a routerLink="/home" class="back-link">← Back Home</a>

    <div class="login-card">
      <div class="login-logo">
        <img src="assets/logo.png" alt="Momenta Hotels">
        <span>Momenta Hotels</span>
      </div>

      <h1 class="login-title">Log in to your moment</h1>

      <form>
        <div class="form-group">
          <input type="email" placeholder="Email" />
        </div>

        <div class="form-group">
          <input type="password" placeholder="Password" />
        </div>

        <a href="#" class="forgot-link">Forgot your password ?</a>

        <button type="submit" class="login-btn">Log in</button>

        <p class="signup-text">
          Don’t have an account?
          <a href="#" class="signup-link">Sign up now</a>
        </p>
      </form>
    </div>
  </div>
</div>
